/* Action Buttons Container */
.actions {
    display: flex; /* Enables flexbox layout which is more efficient for arranging children elements */
    gap: 10px; /* Sets a fixed gap of 10px between each child element within the container */
    justify-content: center; /* Centers the action buttons horizontally within the container */
    background-color: #815e64; /* Sets a soft, muted pink background color for the container */
    padding: 3em; /* 3em of padding all around the inside of the container to create space between the content and container edges */
    opacity: 0.8; /* Sets the opacity of the container to 80%, making it slightly transparent */
    border: 0.3em solid #245e51; /* Add a border to the action buttons container */
}

/* Aligns actions column to the right side of the table */
.actions-column {
    align-items: center;
}

/* Popup styling */
#book-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #424242;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.popup-content {
    padding: 20px;
}

.popup-content button {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

/* Aligns actions column to the right side of the table */
.read-like-column {
    border: #304d52;
    padding-top: .3em;
    margin-right: -3em
}

.read-like-column button {
    margin-left: 3em; /* Adds space between the buttons */
}

/* Dark Mode Specific Styles for EndOfBooks-btn */
.EndOfBooks-btn {
    background-color: #304d52;  /* Darker background suitable for dark mode */
    color: #C4C3D0;             /* Lighter text color for better contrast */
    border: 2px solid #3f7880;  /* Subtle border color that fits dark themes */
}

.EndOfBooks-btn:hover {
    background-color: #794e68;  /* Even lighter background on hover for feedback */
    border-color: #245e51;      /* Light blue to maintain visibility and contrast */
    color: #794e68;             /* Change text color to white for better contrast on hover */
}