/* Action Buttons Container */
.actions {
    display: flex; /* Enables flexbox layout which is more efficient for arranging children elements */
    gap: 10px; /* Sets a fixed gap of 10px between each child element within the container */
    justify-content: center; /* Centers the action buttons horizontally within the container */
    background-color: #815e64; /* Sets a soft, muted pink background color for the container */
    padding: 3em; /* 3em of padding all around the inside of the container to create space between the content and container edges */
    opacity: 0.8; /* Sets the opacity of the container to 80%, making it slightly transparent */
}

/* Popup styling */
#book-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #424242;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.popup-content {
    padding: 20px;
}

.popup-content button {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

/* Char-list styling */
.char-list {
    padding: 1em;
    background-color: #424242;
    border: 1px solid #555;
    border-radius: 5px;
    max-width: 600px;
    margin-top: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.char-list div {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #333;
    border-radius: 5px;
}

.char-list .title {
    font-size: 1.2em;
    font-weight: bold;
    color: #C4C3D0;
}

.char-list .avatar img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.char-list .desc {
    margin-top: 0.5em;
    color: #C4C3D0;
}

.char-list a {
    color: #BBDEFB;
    text-decoration: none;
}

.char-list a:hover {
    text-decoration: underline;
}

.char-list .author {
    font-size: 1em;
    color: #af9880;
}