/* General body styles */
body {
    background-color: #f4f4f4; /* Light gray background color */
    color: #333; /* Dark charcoal text color */
    font-family: 'Arial', sans-serif; /* Arial font with sans-serif as fallback */
    margin: 0; /* Removes default margin */
    padding: 1.8em; /* Padding around the content */
}

/* Header styles */
header {
    background-color: #D1E8E2; /* Pale aqua background color */
    color: #333; /* Dark charcoal text color */
    padding: 1em 0; /* 1em vertical padding, no horizontal padding */
}

/* Styles for flex container in header */
.header-content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Distribute space between items */
    margin: 0 auto; /* Center horizontally */
    max-width: 50em; /* Max width of 50em */
    width: 100%L;
}

/* Heading styles */
h1, h2 {
    margin: 0; /* Removes default margin */
    color: #333; /* Dark charcoal color for text */
}

/* Specific styles for title in header */
h2.title {
    flex-grow: 1; /* Allows the title to grow to fill space */
    text-align: left; /* Aligns text to the left */
    font-size: 2em; /* Increases font size to 2em */
}

/* Welcome message styling */
h2.welcome {
    font-size: 3em; /* Larger font size for welcome message */
    font-family: 'Bungee', sans-serif; /* 'Bungee', a decorative font */
}

/* Main content area */
main {
    padding: 1.8em; /* Padding around the main content */
    text-align: center; /* Center-aligns text */
}

/* Table styling */
table {
    width: 100%; /* Full width */
    margin-top: 1.8em; /* Margin on top */
    background-color: #fff; /* White background */
    border-collapse: collapse; /* Collapses table borders */
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

th, td {
    border: 1px solid #ddd; /* Light gray border */
    padding: 12px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
}

th {
    background-color: #30b0b4; /* Custom light teal background */
    color: #333; /* Dark charcoal text */
}

/* Row styling */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
}

tr:hover {
    background-color: #A3C4BC; /* Lighter teal on hover */
}

/* Link styling */
a {
    color: white; /* White text */
    background-color: #195f7a; /* Custom blue */
    text-decoration: none; /* No underline */
    padding: 0.5em 1em; /* Padding around text */
    border-radius: 0.5em; /* Rounded corners */
    display: inline-block; /* Allows margins to be applied */
    margin-right: 0.5em; /* Space after link */
}

a:hover {
    background-color: #82cfbc; /* Lighter shade on hover */
}

/* Toggle button for dark mode */
.dark-mode-toggle {
    background-color: #383a49; /* Dark gray background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the button */
    border: none; /* No border */
    border-radius: 0.5em; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.dark-mode-toggle:hover {
    background-color: #6e5064; /* Dark pink on hover */
}