/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #D1E8E2; /* Green color */
    color: #333;
    padding: 1em 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

h2.title {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    font-size: 2em; /* Make the title bigger */
}

/* Main content styles */
main {
    padding: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #D1E8E2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #A3C4BC;
}