/* General Element Styling */

/* Label Styling: Applies bold font weight for better visibility */
label {
    font-weight: bold;
}

/* Content Div Styling: Adds vertical spacing for better separation and layout */
div {
    margin-bottom: 0.625em;
}

/* Link Styling: Enhances link visibility and interaction */
a {
    color: white; /* Ensures high contrast for readability */
    background-color: #83a59c; /* Soft teal for aesthetic appeal */
    border-radius: 0.75em; /* Smooths corners for a friendly interface */
    padding: 0.625em 1.25em; /* Balanced padding for clickable area */
    margin-right: 0.625em; /* Right margin for spacing between inline elements */
    margin-left: 0.625em; /* Left margin to maintain uniformity */
    text-decoration: none; /* Removes underline to clean up appearance */
    display: inline-block; /* Enables block level properties */
}

/* Hover State Styling for Links: Introduces a visual change on mouse-over */
a:hover {
    background-color: #A3C4BC; /* Lighter teal to indicate hover state */
}

/* Button Styling: Unified design for all interactive buttons */
input[type="submit"], .dark-mode-toggle {
    color: white; /* Maintains readability */
    background-color: #2e4e5a; /* Dark slate for depth and focus */
    border-radius: 0.3125em; /* Subtly rounded edges for ergonomic feel */
    padding: 0.625em 1.25em; /* Ample padding for easy interaction */
    cursor: pointer; /* Indicates an interactive element */
    margin-top: 0.625em; /* Spacing above for visual separation */
    border: none; /* Clean borderless design */
}

/* Hover State for Buttons: Provides feedback with a color change on hover */
input[type="submit"]:hover, .dark-mode-toggle:hover {
    background-color: #6e5064; /* Muted purple for a noticeable hover effect */
}

/* Action Buttons Container: Layout adjustments for better alignment and spacing */
.actions {
    display: flex; /* Flexbox for responsive alignment */
    justify-content: center; /* Horizontally centers content for focus */
    gap: 0.625em; /* Consistent spacing between action elements */
}