/* General Element Styling for Dark Mode */
body {
    background-color: #333; /* Ensure dark mode has a uniform dark background */
    color: #C4C3D0; /* Lavender gray for better contrast */
}

/* Header styles for dark mode */
header {
    background-color: #263238; /* Dark blue-grey for a uniform look */
    color: #4e5963; /* Dark grey for better contrast and visibility */
    border-bottom: 2px solid #806a74; /* Add a border to the bottom of the header */
}

/* Link styles in the header and dark mode toggle button */
header a, .dark-mode-toggle {
    color: #BBDEFB; /* Light blue text color for links */
    background-color: transparent; /* Ensures links don't have a distinct background */
}

/* Styles for the main header title in dark mode */
h2.title {
    background: linear-gradient(to right, #78b8af, #8280ad); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Fill the text with the background gradient */
}

/* Styles for the welcome message in dark mode */
h2.welcome {
    color: #af9880; /* Off white color for introductory text */
    text-shadow: 0px 1px 2px #333; /* Add a more pronounced text shadow */
}

/* Table styling for dark mode */
table.book-table {
    background-color: #424242; /* Dark background */
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.book-table th, .book-table td {
    border: 1px solid #555; /* Dark gray border */
}

.book-table th {
    background-color: #546E7A; /* Darker teal background */
    color: #c3bff5; /* Light text color */
    font-weight: 500;
}

.book-table tr:nth-child(even) {
    background-color: #383838; /* Slightly lighter dark gray for even rows */
}

.book-table tr:hover {
    background-color: #546E7A; /* Lighter teal on hover */
}

/* Enhanced link styles for better visibility in dark mode */
a {
    color: #e7dcd0; /* Light beige, ensuring visibility against the dark background */
    background-color: #455A64; /* Dark slate background for links */
    border: 0.2em solid #806a74; /* Add a border to links */
}

input {
    color: #e7dcd0; /* Light beige, ensuring visibility against the dark background */
    background-color: #455A64; /* Dark slate background for links */
    border: 0.2em solid #806a74; /* Add a border to links */
}

a:hover {
    background-color: #546E7A; /* Lighter on hover for visual feedback */
    border-color: #BBDEFB; /* Ensure border color remains the same on hover */
}

input:hover {
    background-color: #546E7A; /* Lighter on hover for visual feedback */
    border-color: #BBDEFB; /* Ensure border color remains the same on hover */
}



/* Button Styling: Ensures buttons are clearly visible */
input[type="submit"], .dark-mode-toggle, .EndOfBooks-btn {
    color: #C4C3D0; /* Lavender gray text color */
    background-color: #344955; /* Dark blue-grey, different from link background */
    border: 2px solid #BBDEFB; /* Add a border to buttons */
}

input[type="submit"]:hover, .dark-mode-toggle:hover, .EndOfBooks-btn:hover {
    background-color: #4A6274; /* Slightly lighter on hover */
    border-color: #BBDEFB; /* Ensure border color remains the same on hover */
}

/* Action Buttons Container */
.actions {
    background-color: #424242; /* Darker background for action container */
    border: 0.3em solid #806a74; /* Add a border to the action buttons container */
}

/* Popup styling */
#book-popup {
    background-color: #424242;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Dark mode button styles */
td button {
    background-color: #344955; /* Dark mode background color */
    border: 2px solid #BBDEFB; /* Dark mode border color */
    border-radius: 5px; /* Dark mode border radius */
    padding: 10px; /* Dark mode padding */
    cursor: pointer; /* Pointer cursor on hover */
}

td button:hover {
    background-color: #4A6274; /* Dark mode hover background color */
    border-color: #BBDEFB; /* Dark mode hover border color */
}