/* General Element Styling for Dark Mode */

body {
    background-color: #333; /* Ensure dark mode has a uniform dark background */
    color: #ffffff;
}

header {
    background-color: #263238; /* Dark blue-grey for a uniform look */
    color: #FFFFFF; /* White for better contrast and visibility */
}

header a, .dark-mode-toggle {
    color: #BBDEFB; /* Light blue text color for links */
    background-color: transparent; /* Ensures links don't have a distinct background */
}

/* Dark Mode Styles for Specific Headers */

/* Styles for the main header title in dark mode */
h2.title {
    font-size: 2.5em; /* Ensure the font size matches the light mode for consistency */
    color: #FAF0E6; /* Pastel off-white color */
}

/* Styles for the welcome message in dark mode */
h2.welcome {
    color: #F5F5F5; /* Consistent off white color for introductory text */
}

/* Enhanced link styles for better visibility in dark mode */
a {
    background-color: #503986; /* Light blue, ensuring visibility against the dark background */
    background-color: #85acaf; /* Dark slate background for links */
    border-radius: 0.5em; /* Ensures rounded corners for all links */
}

a:hover {
    background-color: #7d7997; /* Lighter on hover for visual feedback */
}

/* Button Styling: Ensures buttons are clearly visible */
input[type="submit"], .dark-mode-toggle {
    color: white;
    background-color: #344955; /* Dark blue-grey, different from link background */
    border-radius: 5px; /* Consistent border radius with background.css */
    padding: 10px 20px; /* Consistent padding */
    cursor: pointer;
    border: none; /* Ensuring buttons have no border */
    box-sizing: border-box; /* Ensure consistent box-sizing */
}

input[type="submit"]:hover, .dark-mode-toggle:hover {
    background-color: #4A6274; /* Slightly lighter on hover */
}

/* Action Buttons Container */
.actions {
    background-color: #424242; /* Darker background for action container */
    opacity: 1; /* Remove opacity to ensure text and elements are fully readable */
}