<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" th:href="@{/css/accessories.css}">
    <link rel="stylesheet" th:href="@{/css/accents.css}">
    <link id="darkModeCss" rel="stylesheet" href="" disabled>
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
    <script>
        function toggleDarkMode() {
            var darkModeCss = document.getElementById('darkModeCss');
            if (darkModeCss.disabled) {
                darkModeCss.href = '/css/darkmode.css';
                darkModeCss.disabled = false;
                localStorage.setItem('darkMode', 'enabled');
            } else {
                darkModeCss.href = '';
                darkModeCss.disabled = true;
                localStorage.setItem('darkMode', 'disabled');
            }
        }

        // Check local storage for dark mode setting on page load
        document.addEventListener('DOMContentLoaded', () => {
            if (localStorage.getItem('darkMode') === 'enabled') {
                document.getElementById('darkModeCss').href = '/css/darkmode.css';
                document.getElementById('darkModeCss').disabled = false;
            }
        });
    </script>
</head>
<body>
    <header>
        <div class="header-content">
            <h2 class="title">Peep Peas' <br> Book Management Sys.</h2>
            <button class="dark-mode-toggle" onclick="toggleDarkMode()">Toggle Dark Mode</button>
        </div>
    </header>
    <main>
        <h2>Book Details</h2>
        <div>
            <label>ID:</label>
            <span th:text="${book.id}">1</span>
        </div>
        <div>
            <label>Title:</label>
            <span th:text="${book.title}">Sample Title</span>
        </div>
        <div>
            <label>Author:</label>
            <span th:text="${book.author}">Sample Author</span>
        </div>
        <div class="actions">
            <a th:href="@{/books}">Back to list</a>
            <a th:href="@{'/books/update/' + ${book.id}}">Edit Book</a>
            <form th:action="@{'/books/delete/' + ${book.id}}" method="post">
                <input type="submit" value="Delete Book"/>
            </form>
        </div>
    </main>
</body>
</html>